@import url(https://use.fontawesome.com/releases/v5.10.2/css/all.css);

body {
    margin: 0;
    padding: 0;
}

.viewport1 {
    width: 100%;
    height: 50vh;
    background-color: rgb(55, 166, 205);
    background: linear-gradient(90deg, rgba(55, 166, 205, 1) 0%, rgba(15, 39, 116, 1) 0%, rgba(0, 255, 189, 1) 100%);
}

.viewport2 {
    width: 100%;
    height: 50vh;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(177, 47, 123, 1) 0%, rgba(237, 161, 55, 1) 100%);
}

section{
    display: block;
    position: absolute;
    right: 50%;
    text-align: center;
    transform: translate(50%);
    
}
.card1{
    top: 10%;
}
.card2{
    bottom: 10%;
}
i{
    position: relative;
    left: 130px;
    top: -6px;
    color: azure;
    font-size: 10px;
}
.fa-link{
    left: 295px;
    
}

img{
    height: 200px;
}
